$backgroundGray: #eaecec;
$borderGray: #d6dce1;
$shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

.container {
  display: flex;
  flex-direction: column;

  .tax-root {
    font-size: 12px;
    font-weight: bold;
  }

  .tax-list {
    border: 1px solid $borderGray;
    box-shadow: $shadow;
    list-style-type: none;
    margin: 0px;
    border-radius: 3px;
    width: 200px;
    padding: 0px;
  }
}
