.child-container {
  width: auto;
}

.item {
  &-container {
    display: flex;
    border-bottom: 1px solid #eaecec;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;

    &:hover {
      cursor: pointer;
    }
  }

  &-text {
    font-size: 16px;
    margin: 0;

    &-bold {
      font-size: 20px;
      font-weight: bold;
      padding-left: 10px;
    }
  }

  &-rectangle {
    display: inline-block;
    width: 30px;
    height: 20px;
    border-radius: 3px;
    margin-right: 5px;
  }
}

.selected {
  background-color: rgba($color: #eaecec, $alpha: 0.5);
}
